
  
    {{#if save}}
        <button type="button" class="btn btn-md btn-success mb-1 save-btn" data-articleId="{{id}}" data-saved="{{save}}">Save</button>
    {{else}}

        <button type="button" class="btn btn-md btn-success mb-1 save-btn" data-articleId="{{id}}" data-saved="{{save}}">Saved</button>

    {{/if}}
